# Python virtual environment 
.venv/
venv/
ENV/
__pycache__/
*.pyc

# Environment variables 
.env

# Local Databases

# Streamlit & Project Logs 
*.log
streamlit.err.log
streamlit.out.log

# Operating System files
.DS_Store
Thumbs.db